.hero
	&__in
		padding-bottom 125px
		display flex
		justify-content space-between
	&__content
		padding-top 69px
		max-width 878px
		width 100%
		background url('../images/general/hammer.png') 100% - 12px 0 + 12px no-repeat
		font-family $pM
	&__subtitle
		position relative
		margin-bottom 55px
		height 24px
		color #ee6464
		font-size 24px
		font-weight 400
		letter-spacing 1.2px
		line-height 20px
		overflow hidden
	&__title
		margin-bottom 35px
		max-width 470px
		color #000000
		font-size 70px
		font-weight 700
		letter-spacing 1.05px
		line-height 64px

	&__text
		margin-bottom 84px
		max-width 490px

