mixin success-cases()
	.success-cases&attributes(attributes)
		h2.success-cases__title Успешные дела
		ul.success-cases__list
			li.success-cases__item
				a.success-cases__link(href="#")
				.success-cases__content
					.success-cases__item-title Пенсионный спор с УПФ РФ
					.success-cases__text Назначена досрочная страховая пенсия по старости.
				.success-cases__photo
					img(src="assets/images/content/case-1.jpg", alt="")

				a.success-cases__court(href="https://elektrostal--mo.sudrf.ru/modules.php?name=sud_delo&srv_num=1&name_op=doc&number=381783455&delo_id=1540005&new=0&text_number=1") решение на сайте суда


			li.success-cases__item
				a.success-cases__link(href="#")
				.success-cases__content
					.success-cases__item-title Взыскание по договору подряда
					.success-cases__text Взыскано  до 1 млн рублей по договору подряда.
				.success-cases__photo
					img(src="assets/images/content/case-2.jpg", alt="")

				a.success-cases__court(href="https://noginsk--mo.sudrf.ru/modules.php?name=sud_delo&srv_num=1&name_op=doc&number=341030047&delo_id=1540005&new=0&text_number=1") решение на сайте суда


			li.success-cases__item
				a.success-cases__link(href="#")
				.success-cases__content
					.success-cases__item-title Взыскание по договору займа
					.success-cases__text Взыскана денежная сумма в иностранной валюте.
				.success-cases__photo
					img(src="assets/images/content/case-3.jpg", alt="")

				a.success-cases__court(href="https://elektrostal--mo.sudrf.ru/modules.php?name=sud_delo&srv_num=1&name_op=doc&number=359988768&delo_id=1540005&new=0&text_number=1") решение на сайте суда

			li.success-cases__item
				a.success-cases__link(href="#")
				.success-cases__content
					.success-cases__item-title Установление границ участков
					.success-cases__text Устранены реестровые ошибки и установлены границы
				.success-cases__photo
					img(src="assets/images/content/case-4.jpg", alt="")

				a.success-cases__court(href="https://elektrostal--mo.sudrf.ru/modules.php?name=sud_delo&srv_num=1&name_op=case&case_id=254391854&delo_id=1540005") решение на сайте суда

		a.success-cases__more(href="#link") Еще дела
