@font-face
	font-family 'PT Sans'
	src local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/hinted-subset-PTSans-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Bold.woff') format('woff')
	font-weight bold
	font-style normal


@font-face
	font-family 'PT Mono'
	src local('PT Mono'), local('PTMono-Regular'),
		url('../fonts/hinted-subset-PTMono-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTMono-Regular.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'Roboto'
	src local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/hinted-subset-Roboto-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-Medium.woff') format('woff')
	font-weight 500
	font-style normal


@font-face
	font-family 'PT Sans'
	src local('PT Sans'), local('PTSans-Regular'),
		url('../fonts/hinted-subset-PTSans-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Regular.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'PT Mono'
	src local('PT Mono Bold'), local('PTMono-Bold'),
		url('../fonts/hinted-subset-PTMono-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTMono-Bold.woff') format('woff')
	font-weight bold
	font-style normal


$pM = 'PT Mono', Arial, sans-serif
$pS = 'PT Sans', Arial, sans-serif
$r  = 'Roboto', Arial, sans-serif



