mixin personal()
	section.personal&attributes(attributes)
		.personal__in.container
			h2.personal__title Личный кабинет
			.personal__subtitle Технологии в помощь.

			.personal__content
				.personal__text
					p Если документы, переписка и задачи хранятся где попало, клиенту приходится тратить время и силы на поиск.
					p С «Google Диск» клиент не ищет файл в переписке или на флешке, а просто открывает документ из общей папки.
					p «Google Диск» работает на любом устройстве с интернетом, хранит копии документов и ведёт историю исправлений. Юрист и клиент уверены, что ничего не потеряется.

				.personal__image
					.personal__image-caption Организация проекта в «Гугл-диске»
					img(src="assets/images/content/personal-area.png", alt="")




