mixin services()
	section.services&attributes(attributes)

		.services__in.container


			.services__col
				.services__top
					h2.services__title Юридические услуги и документы
						span в городе Электросталь

				ul.services__list
					li.services__item
						a.services__link(href="#link")
						.services__item-title Трудовое право
						.services__item-text Увольнение. Взыскание заработной платы.

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Земельные дела
						.services__item-text Споры собственников. Межевание. Реестр

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Жилищные споры
						.services__item-text Признание права собственности. Выселение

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Страховые споры
						.services__item-text Взыскание страховых выплат, санкций.

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Пенсионные споры
						.services__item-text Досрочная пенсия, перерасчет стажа

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Семейные споры
						.services__item-text Раздел имущества. Брак. Дети
						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Споры в сфере денежных обязательств

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Наследственные споры
						.services__item-text Восстановление срока, признание права

						.services__more Ознакомиться

					li.services__item
						a.services__link(href="#link")
						.services__item-title Юридическая консультация
						.services__item-text Устная. Письменная. По телефону. On-line

						.services__more Ознакомиться

			.services__col.services__col_narrow
				.services__top
					h2.services__title Дополнительно

				ul.services__list
					li.services__item
						a.services__link(href="#link")
						.services__item-title Составление исковых заявлений, договоров и претензий

					li.services__item
						a.services__link(href="#link")
						.services__item-title Юридическое сопровождение сделок с недвижимостью

					li.services__item
						a.services__link(href="#link")
						.services__item-title Представление интересов в ФССП

					li.services__item
						a.services__link(href="#link")
						.services__item-title Арбитражные споры. Поставка. Услуги и подряды

					li.services__item
						a.services__link(href="#link")
						.services__item-badge Новое
						.services__item-title Сопровождение бизнеса. Автоматизация. Поддержка

