mixin header()
	header.header&attributes(attributes)

		.header__in.container
			a.header__logo.logo(href="#logo") Юридические услуги Курнев А.Е.
			nav.header__nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href="#") Услуги
					li.nav__item
						a.nav__link(href="#") Практика
					li.nav__item
						a.nav__link(href="#") Образование
					li.nav__item
						a.nav__link(href="#") Отзывы

			.header__contacts
				a.header__phone.phone(href="tel:+79264729537") +7 (926) 472-95-37

				a.header__email.email(href="mailto:kurnevartem@yandex.ru") kurnevartem@yandex.ru
