.education
	font-family $pS
	font-weight normal
	&__in
		padding-top 100px
		padding-bottom 100px

	&__top
		border-bottom 1px solid #D5D5D2
		padding-bottom 23px
	&__title
		margin-bottom 11px
		color #000000
		font-size 40px
		font-weight 700
	&__text
		color #9b9b9b
		font-size 16px
		font-weight 400
		line-height 1.125
	&__list
		padding-top 42px
		display flex
		justify-content space-between
	&__item
		margin-bottom 30px
		max-width 403px
		flex-shrink 1
	&__link
		display block
		text-decoration none
	&__item-title
		position relative
		margin-bottom 32px
		color #307ef2
		font-size 24px
		font-weight 400
		line-height 1
	&__item-icon
		position absolute
		top 50%
		right 16px
		width 25px
		height 21px
		fill #307ef2
		transform translateY(-50%)

	&__image
		height 281px
		img
			margin-bottom 32px
			display block
			max-width 100%
			height auto
			box-shadow 0 3px 6px rgba(0, 0, 0, 0.16)

	&__image-caption
		color #9b9b9b
		font-size 18px
		font-weight 400
		line-height 1.38888888888889
